In [1]:
#Pandas is a Library it contains the function related to the data base
import pandas as pd

In [2]:
#dataset is a variable store and read the data set's csv file
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
#independent variable denotes input which is spilt from data set of the csv file
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
#to assign the output to the dependent variable and split it from dataset column separately
dependent=dataset[["Salary"]]
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [5]:
#sklearn is a library used for ML Algorithm and using from and import we can manage the memory consumption and here split the (i/p)X_train (o/p)Y_train ,(i/p)X_test,(o/p)Y_test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [6]:
#MODEL CREATION:regressor is the variable to store model and 2 lines is like formula or procedure and only this part change for DL,NLP,TSA remaining same
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
#this fit method is use to substitude the corresponding values to the procedure
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
#created model we can check the weight or slope 
weight=regressor.coef_
weight

array([[9360.26128619]])

In [8]:
#created model we can check the bias or intercept
bias=regressor.intercept_
bias

array([26777.3913412])

In [9]:
#model and everything is stored in regressor variable,here predict the output by X_test set input
Y_pred=regressor.predict(X_test)

In [10]:
#here cross check or evaluate the model by using r2 method value is near to 1 which is best model.by using the output of test and predict and store to the r_score variable
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,Y_pred)

In [11]:
#r2=0.97 is approximately equal to 1so consider as best model
r_score

0.9740993407213511

In [13]:
#pickle is library to save the model and create file and assign to filename variable as .sav extension
import pickle
filename="finalized_model_linear.sav"

In [14]:
#in saved model we dump the material or details 'write binary'
pickle.dump(regressor,open(filename,'wb'))

In [17]:
#saved model is loaded into pickle.load assign to the loaded_model variable and user end part and read it
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[int(input("Enter the YearsExperience:"))]])

Enter the YearsExperience:0

In [18]:
#bias value is used to find initial value
result

array([[26777.3913412]])